.head {grid-area: header;}
.sidebar {grid-area: sidebar;}
.main {grid-area: main;}
.footer {grid-area: footer;}





.grid-container{
    display: grid;
    grid-template-areas:
       'header header header'
       'sidebar main main'
       'footer footer footer';
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-rows: 250px auto 250px;
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "footer footer footer";
  }

.grid-container > div {
    background-color: pink;
    /*text-align: left;*/
        padding: 0px 0;
    font-size:20px;
    border: 1px solid black;
    
  }


  /*header {
    background-color: pink;
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    padding: 10px;
} */

h1 {
  font-family: fantasy;
  font-size: 1 px;
  background-color: pink;
  text-align: center;
}

h1 {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 50%;
  }
  to 
    margin-left: 0%;
  }



h3 {
        font-family:fantasy;
        font-size: 5 px;
}  


  aside {
    grid-area: sidebar;
  }
  
  main {
    grid-area: main;
  }
  
  footer {
   grid-area: footer;
   background-color: pink;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }






/*.centered-paragraph {
  position: sticky;
  top: 50%;
  bottom:50%;
} for later */




@media screen and (min-width: 480px) {
  body {
    background-color:white;
  }
}

 

/*slider settings*/
#slider {
  position: relative;
  display: flex;
  justify-content: center;

  width: 500px;
  height: 400px;
}

#slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

#slider img.active {
  opacity: 1;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #717171;
  color: #f1f1f1;
  font-size: 32px;
  font-stretch: condensed;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: pink;
}

button#prev {
  left: -5px;
  padding: 7px 17px 7px 15px;
}

button#next {
  right: -5px;
  padding: 7px 15px 7px 17px;
}

