


  /* header {
    background-color: pink;
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    padding: 10px;
} */

h1 {
  font-family: fantasy;
  font-size: 1 px;
  background-color: pink;
  text-align: center;
}

h6 {
  text-align: center;
}

footer {
  grid-area: footer;
  background-color: pink;
  font-family: fantasy;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  
 }


/*title animation*/
h1 {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 50%;
  }
  to 
    margin-left: 0%;
  }


  
 

/* styling for form validation*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#form-submitted-msg {
  margin-bottom: 3rem;
  border-radius: 3px;
  background-color: rgb(67, 161, 67);
  padding: 0.5rem;
  width: 40%;
  text-align: center;
  color: #fff;
  display: none;
}

#exampleForm {
  width: 40%;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group:not(.radio):not(.checkbox) {
  gap: 0.25rem;
  flex-direction: column;
}

.input-group:not(.radio):not(.checkbox) input {
  width: 100%;
  border-radius: 0.375rem !important;
}


legend {
  font-size: 1rem;
  width: max-content;
}

.form-btns {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-top: 2.5rem;
}

.form-btns > button {
  padding: 0.3rem 1.5rem;
}

.form-btns > .submit {
  padding-inline: 3rem;
}

.error-msg {
  display: none;
}

/*leaflet map styling*/
#map {
  width: 50%;
  margin: ;
  position: relative;
  left: 40%;
}